<div *ngIf="(organization != null && user!= null && report != null) || (organization != null && !userView && report != null)">

  <div class="breadcrumb">
    <p *ngIf="!userView && organizationID != undefined"> <span routerLink="../../../"> Organization List </span> >> <span routerLink="../../">
        {{organization.name}}</span>
      >> <span> {{report.name}} </span> </p>
    <p *ngIf="userView && organizationID != undefined"> <span routerLink="../../../../../"> Organization List </span> >> <span routerLink="../../../../">
        {{organization.name}}</span>
      >> <span routerLink="../../"> {{user.name}} </span> >> <span> {{report.name}} ({{report.organization.name}})</span></p>
      <p *ngIf="organizationID === undefined && userID != undefined"> <span routerLink="../../../../"> User List </span> >> <span routerLink="../../"> {{user.name}} </span> >> <span> {{report.name}} ({{report.organization.name}})</span></p>

      <p *ngIf="organizationID === undefined && userID === undefined"> <span routerLink="../../"> Report List </span>   >> <span> {{report.name}} ({{report.organization.name}})</span> </p>
  </div>


  <div style="padding-top: 60px">
    <h3> {{report.name}}</h3>
    <p>{{report.organization.name}}</p>
    <p>{{report.date | date }}</p>
    <p>{{report.datasource}}</p>
    <p>{{report.link}}</p>
    <hr>
    <h4>Meta Data</h4>
    <p>Created By: {{ report.createdBy}}</p>
    <p>Updated By: {{ report.updatedBy}}</p>
    <h5>Accessed By</h5>
    <p *ngFor="let user of report.accessedBy"> {{user.name}}</p>
  </div>
</div>
