.report {
  width: 100%;
  height: calc(100vh - 150px);
  background-color: white;
}

.information, .metadata {
  .info-title {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 500;
    color: initial;
  }

  p {
    font-size: 15px;
    margin: 2px 0;
    font-weight: 400;
    color: #979797;

    .info {
      color: #4a4a4a;
      font-weight: 500;
    }
  }
}

.metadata {
  padding: 0 15px;
  background-color: white;
  margin-top: 25px;
  margin-left: 15px;
  max-width: 300px;
  box-shadow: 2px 3px 4px rgba(101, 101, 101, 0.5);
  border: 1px solid #e1e1e1;
  ::ng-deep .mat-expansion-panel-body {
    padding: 0 !important;
    margin-top: -10px;
    padding-bottom: 20px;
  }


}
