<div class="breadcrumb-container">
  <div class="breadcrumb"> <span class="active"> <i  class="material-icons"> business </i> Organization List </span></div>
</div>

<div class="main-content-view">
  <div class="list">
    <div *ngFor="let organization of organizations" class="card">
      <div class="container" (click)="goToDetails(organization.id)">
        <h2 class="title">{{organization.name}}</h2>
        <h4 class="secondary"><span *ngFor="let category of organization.categories">{{category}} &nbsp; </span> </h4>
        <p class="stats">
          <span class="left"><i class="material-icons">
              assessment
            </i> {{organization.reportsCount}} Reports</span>
          <span class="middle"> <i class="material-icons">
              person_outline
            </i>{{organization.usersCount}} Users</span>
          <span class="right"> <i class="material-icons">
              dns
            </i> {{organization.datarulesCount}} Data Rules</span>
        </p>
      </div>
    </div>
</div>
