<div class="left-main-content-view">
  <div *ngIf="users != null">
    <div class="list">
      <div *ngFor="let user of users | userList: searchName: selectedRole: selectedOrganization : sortValue :  pagination.currentPage"
        class="card">
        <div class="container" (click)="userClicked(user._id)">
          <h4 class="title" style="font-weight: bold">{{user.firstName}} {{user.lastName}}</h4>
          <p class="secondary" *ngIf="user.role !== 'admin'"> Viewer : <span *ngFor="let org of user.organizations; let i = index">
              {{org.name}}<span *ngIf="i < user.organizations.length-1">, </span> </span> </p>
              <p class="secondary" *ngIf="user.role === 'admin'"> Admin</p>
        </div>
      </div>
    </div>
  </div>
  <p class="pagination" *ngIf="this.pagination" style="text-align: center"> <button mat-mini-fab (click)="previousPage()" color="white"
    [disabled]="pagination.currentPage===1"> <i class="material-icons">
      chevron_left
    </i> </button>
  {{this.pagination.currentPage}}/{{this.pagination.totalPages}} <button mat-mini-fab active (click)="nextPage() " [disabled]="pagination.currentPage === pagination.totalPages"
    color="white"> <i class="material-icons">
      chevron_right
    </i> </button>
</p>
</div>
<div class="right-main-content-view" *ngIf="formInitialize">
  <div class="filter">
    <form [formGroup]="filterForm" (ngSubmit)="onSearch()">
      <button class="reset" mat-stroked-button (click)="searchFormReset()">RESET</button>
      <p class="title"> Filter by</p>
      <mat-form-field appearance="outline" class="search">
        <mat-label class="label-color">Name</mat-label>
        <input matInput type="text" placeholder="Search Name" formControlName="name">
      </mat-form-field>
      <p class="title" *ngIf="!organizationID"> Role</p>
      <mat-form-field appearance="outline" class="select" *ngIf="!organizationID">
        <mat-select formControlName="selectedRole">
          <mat-option value="All">All</mat-option>
          <mat-option value="Admin">Admin</mat-option>
          <mat-option value="Viewer">Viewer</mat-option>
        </mat-select>
      </mat-form-field>
      <p class="title" *ngIf="!organizationID"> Organization</p>
      <mat-form-field class="select" appearance="outline" *ngIf="!organizationID">
        <mat-select formControlName="selectedOrganization">
          <mat-option value="All">All</mat-option>
          <mat-option *ngFor="let organization of organizations" value="{{organization._id}}">{{organization.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <button mat-raised-button class="search" type="submit">Search</button>
    </form>
  </div>

  <div class="sort">
    <p class="title"> Sort By</p>
    <mat-radio-group class="example-radio-group" [(ngModel)]="sortValue">
      <mat-radio-button *ngFor="let sort of sorts" value="{{sort}}" (click)="changeSort(sort)" class="radio">
        {{sort}}
      </mat-radio-button>
    </mat-radio-group>

  </div>

  <div class="add-button">
    <button  *ngIf="organizationID" routerLink="./new-user" mat-fab class="button-fab" color="primary-button"> <i class="material-icons plus-icon">
      add
    </i>
    <i class="material-icons back-icon">
      person_outline
    </i></button>
    <button  *ngIf="!organizationID" routerLink="../new-user" mat-fab class="button-fab" color="primary-button"> <i class="material-icons plus-icon">
      add
    </i>
    <i class="material-icons back-icon">
      person_outline
    </i></button>
  </div>
</div>
