<div class="form-container">
  <div class="card">
    <div class="form">
      <form>
        <h2 class="title"> Create New Data Rule</h2>
        <hr>
        <div class="row">
          <h4 class="input-header"> New Rule for "Organization"</h4>
          <i class="material-icons form-icon">
            business
          </i>
          <mat-form-field appearance="fill" style="width:80%">
            <mat-label>Rule Name</mat-label>
            <input matInput placeholder="Enter Name">
          </mat-form-field>
          <i class="material-icons info-icon">
            info
          </i>
        </div>
        <div class="row">
          <i class="material-icons form-icon">
            business
          </i>
          <mat-form-field appearance="fill" style="width:80%">
            <mat-label>Data Source</mat-label>
            <input matInput placeholder="Select Data Source">
          </mat-form-field>
          <i class="material-icons info-icon">
            info
          </i>
        </div>
        <h4 class="input-header"> Condition   <i class="material-icons info-icon">
            info
          </i></h4>
        <div class="row">
          <i class="material-icons form-icon">
            business
          </i>
          <mat-form-field appearance="fill" style="width:80%">
            <mat-label>Identifier</mat-label>
            <input matInput placeholder="Select Data Source">
          </mat-form-field>
          <i class="material-icons info-icon">
            info
          </i>
        </div>
        <div class="row">
          <i class="material-icons form-icon">
            business
          </i>
          <mat-form-field appearance="fill" style="width:80%">
            <mat-label>Condition</mat-label>
            <input matInput placeholder="Select Data Source">
          </mat-form-field>
          <i class="material-icons info-icon">
            info
          </i>

        </div>
        <div class="row">
          <i class="material-icons form-icon">
            business
          </i>
          <mat-form-field appearance="fill" style="width:80%">
            <mat-label>Token</mat-label>
            <input matInput placeholder="Select Data Source">
          </mat-form-field>
          <i class="material-icons info-icon">
            info
          </i>
        </div>
        <div class="buttons">
          <button mat-button>Cancel</button><button class="done" mat-flat-button>Done</button>
        </div>
      </form>
    </div>
  </div>
</div>
