<div class="form-container">
  <div class="card">
    <div class="form">
      <form>
        <h2 class="title"> Create New User</h2>
        <hr>
        <div class="row">
          <h4 class="input-header"> Please select role for new user <i class="material-icons info-icon">
              info
            </i></h4>
          <i class="material-icons form-icon">
            business
          </i>
          <mat-form-field appearance="fill" style="width:80%">
            <mat-label>Organization Name</mat-label>
            <input matInput placeholder="Placeholder">
          </mat-form-field>
        </div>
        <div class="row">
          <h4 class="input-header"> Please select organization(s) for new user <i class="material-icons info-icon">
              info
            </i></h4>
          <i class="material-icons form-icon">
            business
          </i>
          <mat-form-field appearance="fill" style="width:80%">
            <mat-label>Select Organization(s)</mat-label>
            <input matInput placeholder="Placeholder">
          </mat-form-field>
        </div>
        <div class="row">
          <p class="create-new-text">Organization not on the list? <span class="create-new-button">Create New Organization </span></p>
        </div>
        <div class="buttons">
          <button mat-button>Cancel</button><button class="done" mat-flat-button>Next</button>
        </div>
      </form>


      <!-- ADMIN ACCESS -->
      <form>
        <h2 class="title"> Create New User</h2>
        <hr>
        <p class="description"> New Admin user</p>
        <p class="description"> New Viewer for *Organizations*</p>
        <h4 class="input-header"> Please enter user information </h4>
        <div class="row">
          <i class="material-icons form-icon">
            person-outline
          </i>
          <mat-form-field appearance="fill" style="width:80%">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="">
          </mat-form-field>
          <i class="material-icons info-icon">
            info
          </i>
        </div>
        <div class="row">
          <i class="material-icons form-icon">
            person-outline
          </i>
          <mat-form-field appearance="fill" style="width:80%">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="">
          </mat-form-field>
          <i class="material-icons info-icon">
            info
          </i>
        </div>
        <div class="row">
          <i class="material-icons form-icon">
            person-outline
          </i>
          <mat-form-field appearance="fill" style="width:80%">
            <mat-label>Email</mat-label>
            <input matInput placeholder="">
          </mat-form-field>
          <i class="material-icons info-icon">
            info
          </i>
        </div>
        <div class="row">
          <button mat-stroked-button class="add-another">Add Secondary Email</button>
        </div>

        <div class="buttons">
          <button mat-button>Cancel</button><button class="done" mat-flat-button>Done</button>
        </div>
      </form>
    </div>
  </div>
</div>
