<mat-toolbar class="toolbar">
  <div class="company">
    <div class="icon-container">
      <div class="icon"><div class="icon-image"></div></div>
    </div>
    <span class="name"> &nbsp;&nbsp; {{companyName}} </span>
  </div>
</mat-toolbar>
<div class="signing-container">
  <div class="signing-card">
    <div class="icon"><div class="icon-image"></div></div>
    <h4>Sign in</h4>
    <!-- <a mat-raised-button color="google" id="google-signin">Sign in with Google</a> -->
    <!-- <div id="google-signin" class="g-signin2" data-onsuccess="onSignIn"></div> -->
    <button id="google-signin">Sign in with Google</button>
  </div>
</div>
