<div class="main">

  <!-- Side Navigation Menu-->
  <div class="side-nav" [ngClass]="{'side-nav-minimized': minimized}">
    <!-- Company Title and Logo goes Here-->
    <div class="company">
      <div class="icon-container">
        <div class="icon">
          <img src="../../assets/company-icon.png" alt="Smiley face">
        </div>
      </div>
      <span class="name"> Company </span>
    </div>

    <!-- Side Navigation Menus -->
    <div class="menu-container">

      <!-- Menu # 1 -->
      <div class="menu" routerLink="o" routerLinkActive="menu-active" >
        <i class="material-icons">
          business
        </i>
        <span class="text">
          Organizations
        </span>
      </div>

      <!-- Menu # 2 -->
      <div class="menu">
        <i class="material-icons">
          assessment
        </i>
        <span class="text">
          Reports
        </span>
      </div>

      <!-- Menu # 3 -->
      <div class="menu">
        <i class="material-icons">
          person_outline
        </i>
        <span class="text">
          Users
        </span>
      </div>
    </div>
  </div>

  <div class="right-content" [ngClass]="{'right-content-minimized': minimized}">
    <!-- Top Toolbar -->
    <mat-toolbar class="toolbar">
      <button mat-button class="menu-icon" (click)="toggleMenu()">
        <i class="material-icons ">
          menu
        </i>
      </button>
    </mat-toolbar>

    <!-- Main Content -->
    <div class="main-content">

      <router-outlet></router-outlet>
    </div>
  </div>
</div>
