@import "main-style-variables.scss";




// Side Navigation Menus Style
.side-nav {
  width: $side-nav-max;
  height: 100%;
  background-color: $sidenav-color;
  position: fixed;
  -webkit-transition: padding-left 0.5s;
  transition: padding-left 0.5s;
  -webkit-transition: width 0.5s;
  /* For Safari 3.1 to 6.0 */
  transition: width 0.5s;
  overflow: hidden;
  z-index: 40;


}

// Company Logo  &  Name
.company {
  height: 64px;

  .icon-container {
    height: 64px;
    width: 64px;
    position: relative;

    img {
      height: 45px;
      width: 45px;
      position: absolute;
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto auto;
    }
  }

  .name {
    position: absolute;
    top: 22px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    left: 70px;

  }
}


// Side Navigation Containers, Icon and text
.menu-container {
  position: relative;

  .menu-active {
    background-color: $sidenav-active-color;
  }

  .menu:hover{
    cursor: pointer;
  }

  .menu {
    height: 50px;
    color: $menu-color;

    .material-icons {
      font-size: 30px;
      position: relative;
      top: 11px;
      left: 16px;
    }

    .text {
      position: absolute;
      font-size: 17px;
      left: 64px;
      margin-top: 17px;
    }
  }
}

.side-nav-minimized {
  width: $side-nav-minimized !important;
}


.toolbar {
  background-color: $toolbar-color;
  color: white;
  z-index: 20;
  position: fixed;


  .menu-icon {
    min-width: unset;
    padding: 0;

    i {
      font-size: 2.5em;
    }
  }

}


.right-content {
  margin-left: $side-nav-max;
  -webkit-transition: margin-left 0.5s;
  transition: margin-left 0.5s;
}



.main-content {
  background-color: $main-content-color;
  min-height: calc(100vh - 64px);
  padding-top: 64px;
  height: 100%;
  height:  auto;
}




.right-content-minimized {
  margin-left: $side-nav-minimized !important;
}
