<div class="breadcrumb-container">
  <div class="breadcrumb"> <span class="active"> <i class="material-icons">
        person_outline </i> User List</span></div>
</div>

<div class="main-content-view" *ngIf="viewInitialized && users.length > 0 " >
  <app-user-list [users]="users" (userID)="goToUser($event)" style="display:flex; width: 100%; margin-bottom: 10px;"></app-user-list>
</div>

<div *ngIf="!viewInitialized" style="margin:auto; padding-top: 80px; text-align: center">
  <mat-spinner style="margin:auto"></mat-spinner>
  <p style="text-align: center;">Users Loading...</p>
</div>

<div *ngIf="viewInitialized && users.length === 0 " class="empty-list" >
    <div class="icons">
      <i class="material-icons main"> person_outline </i>
      <button routerLink="../new-user" mat-fab class="button-fab add" color="primary-button"> <i class="material-icons">
          add
        </i>
      </button>
    </div>
    <h2 class="title"> There are no users.</h2>
    <h3 class="title" > Create new user</h3>
  </div>
