@import "main-style-variables.scss";
.toolbar {
  background-color: $toolbar-color;
  color: white;
  z-index: 20;
  position: fixed;


  .menu-icon {
    min-width: unset;
    padding: 0;

    i {
      font-size: 2.5em;
    }
  }

  .menu-icon.right {
    margin: 0 10px ;
    i {
      font-size: 2.2em;
    }
  }
}

// Company Logo  &  Name
.company {
  height: 64px;

  .icon-container {
    height: 64px;
    width: 64px;
    position: relative;

    .icon {
      height: 45px;
      width: 45px;
      position: absolute;
      right: 0;
      left: -30px;
      top: 0;
      bottom: 5px;
      margin: auto auto;
      .icon-image {
        height: 45px;
        width: 45px;
        background-size: 45px;
        background-repeat: no-repeat;
      }
    }
  }

  .name {
    position: absolute;
    top: 15px;
    font-size: 25px;
    font-weight: bold;
    color: white;
    left: 65px;

  }
}





.viewer-container {
  background-color: $main-content-color;
  min-height: calc(100vh - 64px);
  padding-top: 64px;
  height:  auto;
}


