<div class="form-container">
  <div class="card" *ngIf="firstFormGroup  && user">
    <div class="form">
      <h2 class="title">Edit User: <span class="input-header"> {{user.firstName}}   {{user.lastName}}    </span></h2>
      <hr>
            <form [formGroup]="firstFormGroup" (ngSubmit)="onSubmit()">
              <ng-template matStepLabel>Fill out your name</ng-template>
              <div class="row">
                <h4 class="input-header"> Viewer for <span *ngFor="let org of user.organizations; let i = index">{{org.name}}<span *ngIf="i < user.organizations.length -1">,</span> &nbsp;</span></h4>
                <i class="material-icons form-icon">
                  business
                </i>
                <mat-form-field appearance="fill" style="width:80%">
                  <mat-label>Role</mat-label>
                  <mat-select formControlName="role" [(value)]="roleSelected" >
                    <mat-option value="admin" (click)="openDialog()">Admin</mat-option>
                    <mat-option value="viewer" (click)="viewerCalled()">Viewer</mat-option>
                  </mat-select>
                  <mat-error>
                      Role is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <i class="material-icons info-icon">
                  info
                </i>
              </div>

              <div class="row" *ngIf="firstFormGroup.value.role === 'viewer'">
                <i class="material-icons form-icon">
                  business
                </i>
                <mat-form-field appearance="fill" style="width:80%">
                  <mat-label>Select Organization(s)</mat-label>
                  <mat-select  formControlName="organizations" [(ngModel)]="selectedOrganizationIds"  multiple>
                    <mat-option *ngFor="let organization of organizations" value="{{organization._id}}">{{organization.name}}</mat-option>
                  </mat-select>
                  <mat-error>
                      Organization is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <i class="material-icons info-icon">
                  info
                </i>
                <p class="create-new-text" style="padding-left: 35px;
                padding-bottom: 10px;">Organization not on the list? <span class="create-new-button" routerLink="/admin/o/new-organization">Create
                    New Organization </span></p>
              </div>


            <div class="row">
              <i class="material-icons form-icon">
                  person_outline
              </i>
              <mat-form-field appearance="fill" style="width:80%">
                <mat-label   >First Name</mat-label>
                <input formControlName="firstName" matInput placeholder="">
                <mat-error>
                  First Name is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <i class="material-icons info-icon">
                info
              </i>
            </div>
            <div class="row">
              <i class="material-icons form-icon">
                person_outline
              </i>
              <mat-form-field appearance="fill" style="width:80%">
                <mat-label >Last Name</mat-label>
                <input formControlName="lastName" matInput placeholder="">
                <mat-error>
                  Last Name is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <i class="material-icons info-icon">
                info
              </i>
            </div>
            <div class="row">
              <i class="material-icons form-icon">
                email
              </i>
              <mat-form-field appearance="fill" style="width:80%">
                <mat-label>Gmail</mat-label>
                <input  type="email" formControlName="email" matInput placeholder="">
                <mat-error *ngIf="firstFormGroup?.controls.email?.errors?.required ">
                  Email is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="firstFormGroup?.controls.email?.errors?.email ">
                 Must be in email format
                </mat-error>
              </mat-form-field>
              <i class="material-icons info-icon">
                info
              </i>
            </div>
            <div class="row">
              <i class="material-icons form-icon">
                alternate_email
              </i>
              <mat-form-field appearance="fill" style="width:80%">
                <mat-label  >Secondary Email</mat-label>
                <input formControlName="secondaryEmail" type="email" matInput placeholder="">
                <mat-hint>Not Required</mat-hint>
                <mat-error>
                  Must be in email format
                 </mat-error>
              </mat-form-field>
              <i class="material-icons info-icon">
                info
              </i>
            </div>
            <div class="buttons" *ngIf="firstFormGroup">
              <button mat-button  type="button" routerLink="../">Back</button>
              <button class="done primary" mat-flat-button  [disabled]="!firstFormGroup.valid" [ngClass]="{'button-disabled': !firstFormGroup.valid}" type="submit">Done</button>
            </div>
          </form>
    </div>
  </div>
</div>
