<div class="breadcrumb-container">
  <div class="breadcrumb"> <span class="active"><i class="material-icons">
        assessment </i> Report List</span></div>
</div>
<div class="main-content-view" >
  <div class="left-main-content-view" *ngIf="initialized && reports.length > 0">
    <div *ngIf="selectedOrganization && organizations.length > 1">
      <h2 *ngIf="selectedOrganization && organizations.length > 1" style="width: 100%; margin-bottom: 5px;"><span *ngIf="selectedOrganization !== 'All'">{{selectedOrgName.name}}</span><span
          *ngIf="selectedOrganization === 'All'"> All Organizations</span> </h2>
      <p style="margin-top: 5px" *ngIf="selectedOrganization === 'All'"><span *ngFor="let org of organizations; let i = index">{{org.name}}<span
            *ngIf="i < organizations.length - 1">,</span>&nbsp;&nbsp;</span></p>
    </div>
    <div *ngIf="organizations.length === 1">
      <h2 style="width: 100%; margin-bottom: 5px;"> {{organizations[0].name}}</h2>
    </div>

    <div *ngIf="reports != null ">
      <div class="list">
        <div *ngFor="let report of reports | reportList: searchName: selectedOrganization : sortValue :  pagination.currentPage" class="card">
          <div class="container" (click)="reportClicked(report._id, report.organization._id)">
            <h4 class="title"><strong> {{report.name}}</strong></h4>
            <p class="secondary">{{report.organization.name}}</p>
            <p class="content"> {{report.created_at | date}} </p>
          </div>
        </div>
      </div>
    </div>
    <p class="pagination" *ngIf="this.pagination && this.pagination.totalPages > 1" style="text-align: center"> <button mat-mini-fab (click)="previousPage()" color="white"
        [disabled]="pagination.currentPage===1"> <i class="material-icons">
          chevron_left
        </i> </button>
      {{this.pagination.currentPage}}/{{this.pagination.totalPages}} <button mat-mini-fab active (click)="nextPage() " [disabled]="pagination.currentPage === pagination.totalPages"
        color="white"> <i class="material-icons">
          chevron_right
        </i> </button>
    </p>

  </div>

  <div class="right-main-content-view" *ngIf="initialized && reports.length > 0">
    <div class="filter">
      <form [formGroup]="filterForm" (ngSubmit)="onSearch()">
        <button class="reset" mat-stroked-button (click)="searchFormReset()">RESET</button>
        <p class="title"> Filter by</p>
        <mat-form-field appearance="outline" class="search">
          <mat-label class="label-color">Name</mat-label>
          <input matInput type="text" placeholder="Search Name" formControlName="name">
        </mat-form-field>
        <p class="title" *ngIf="organizations.length > 1"> Organization</p>
        <mat-form-field appearance="outline" class="select" *ngIf="organizations.length > 1">
          <mat-select formControlName="selectedOrganization">
            <mat-option value="All">All</mat-option>
            <mat-option *ngFor="let organization of organizations" value="{{organization._id}}">{{organization.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <button mat-raised-button class="search" type="submit">Search</button>
      </form>
    </div>
    <div class="sort">
      <p class="title"> Sort By</p>
      <mat-radio-group class="example-radio-group" [(ngModel)]="sortValue">
        <mat-radio-button *ngFor="let sort of sorts" value="{{sort}}" (click)="changeSort(sort)" class="radio">
          {{sort}}
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </div>



  <div *ngIf="!initialized" style="margin:auto; padding-top: 50px;">
    <mat-spinner></mat-spinner>
    <p style="text-align: center;">Loading...</p>
  </div>

  <div *ngIf="reports.length === 0 " class="empty-list" >
    <div class="icons">
      <i class="material-icons main"> assessment </i>
    </div>
    <h2 class="title" style="font-weight: 500"> No Reports </h2>
    <h4 class="title" style="font-weight: 300"> It looks like there's no report available for you right now.</h4>
  </div>
</div>
