.report {
  width: 100%;
  height: calc(100vh - 150px);
  background-color: white;
}

.information, .metadata {
  .info-title {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 500;
    color: initial;
  }

  p {
    font-size: 15px;
    margin: 2px 0;
    font-weight: 400;
    color: #979797;

    .info {
      color: #4a4a4a;
      font-weight: 500;
    }
  }
}


