<div style="width: 100%; background-color: white; box-shadow: 0 1px 2px gray; height: 50px; position:fixed; z-index: 20">
  <p>Organization List</p>
</div>

<div style="padding-top: 50px">
  <p>
    <button mat-button (click)="goToDetails('OrganizationOne')">
      Organization One
    </button>
  </p>
  <p>
    <button mat-button (click)="goToDetails('OrganizationTwo')">
      Organization Two
    </button>
  </p>
  <p>
    <button mat-button (click)="goToDetails('OrganizationThree')">
      Organization Three
    </button>
  </p>
</div>
