<div *ngIf="organization != null && user != null && viewInitialized" [ngClass]="{'disable-display': sending}">

  <div class="breadcrumb-container">
    <!-- Breadcrumbs for user details under user list-->
    <div *ngIf="this.orgID === undefined">
      <div class="breadcrumb"> <span routerLink="../../"><i class="material-icons">
            person_outline </i> User List </span> &nbsp;&nbsp; <i class="material-icons arrow"> keyboard_arrow_right </i> <i style="margin-left: -14px"
          class="material-icons arrow"> keyboard_arrow_right </i>&nbsp;&nbsp; <span class="active"> {{user.firstName}} {{user.lastName}}
        </span> </div>
    </div>

    <!-- Breadcrumbs for user details under organization list-->
    <div *ngIf="this.orgID != undefined">
      <div class="breadcrumb"> <span routerLink="../../../"><i class="material-icons">
            business </i> Organization List </span> &nbsp;&nbsp; <i class="material-icons arrow"> keyboard_arrow_right </i> <i style="margin-left: -14px"
          class="material-icons arrow"> keyboard_arrow_right </i>&nbsp;&nbsp; <span routerLink="../../"> {{organization.name}}</span>
        &nbsp;&nbsp; <i class="material-icons arrow"> keyboard_arrow_right </i> <i style="margin-left: -14px" class="material-icons arrow">
          keyboard_arrow_right </i>&nbsp;&nbsp; <span class="active"> {{user.firstName}} {{user.lastName}} </span> </div>
    </div>

  </div>
  <div *ngIf="new" class="new-bar">
    <h4><i class="material-icons check">
      check
      </i >Success: User Created <i (click)="closeNewBar()" class="material-icons close">
      close
      </i></h4>
  </div>
  <div *ngIf="edited" class="new-bar">
    <h4><i class="material-icons check">
      check
      </i >Success: User Edited <i (click)="closeNewBar()" class="material-icons close">
      close
      </i></h4>
  </div>
  <div class="main-content-view" [ngClass]="{'new': new || edited}">
    <div class="full-content-view">
      <div class="details">
        <div class="more-button">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon color="more-color">more_vert</mat-icon>
          </button>

          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="ghostView()" *ngIf="user.role !== 'admin'">User View</button>
            <mat-divider *ngIf="user.role !== 'admin'" ></mat-divider>
            <button mat-menu-item routerLink="./edit-user">Edit</button>
            <button mat-menu-item (click)="openDialog()">Delete</button>
          </mat-menu>
        </div>
        <div class="card">
          <div class="container">
            <h2 class="title"> {{user.firstName}} {{user.lastName}}</h2>
            <h4 class="secondary">{{ user.role | titlecase }}</h4>
            <p class="content">Gmail: {{user.googleID}}</p>
            <p class="content">Secondary Email: {{user.secondaryEmail}}</p>
            <p class="content"> Accesses: <span *ngFor="let org of user.organizations"> {{org.name}} </span></p>
          </div>
        </div>
      </div>

      <div>
        <h3 class="list-title">Report List</h3>
        <app-report-list style="display:flex; width: 100%;" [reports]="reports" (report)="goToReport($event)"></app-report-list>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!viewInitialized " class='spinner-container' [ngClass]="{'disable-display': sending}">
  <mat-spinner class="spinner"></mat-spinner>
  <p >User Loading...</p>
</div>


<div [ngClass]="{'disable-display': !sending}" class="spinner-container">
  <mat-spinner class="spinner"></mat-spinner>
  <h3 class="title">Deleting User</h3>
  <p >Please wait</p>
</div>
