/************* TOOLBAR ****************/

$toolbar-color: #616161; // toobar color

$toolbar-text-color: white; // toobar text color

$icon: url('./assets/company-icon.png'); // icon

$text-size: 20px; // toolbar "company size"

/****** COLOURS  ******/
$main-content-color: #f5f5f5; // background  color of the main content view

$primary: #0877c1; // used for buttons, click to action

$warning: #faac18; // used for warning before delete

$danger: #f44336; // used for errors

$success: #8ad245; // used for success bar when creating and editing

$title-color: #e7554b; // red titles

/************* NO RESULTS VARIABLES ***********/
// This is the UI when they users search something and there's no results
$no-result-icon-color: #b4b4b4;

$no-result-title-color: #323232;

$no-result-text-color: #636363;

/*************** SIDE NAVIGATION VARIABLES *******************/

// Maximum width size for side navigation
$side-nav-max: 190px;

// Width size when side navigation is minimized
$side-nav-minimized: 64px;

/* Side nav background color */
$sidenav-color: #323232;

// Text menu color for all navigations
$menu-color: white;

// Active color for side navigation menu var
$sidenav-active-color: rgb(85, 85, 85);

/********* ORGANIZATION DETAILS VARIABLES **********/

// color of the active tab
$tab-active-color: $primary;

// color of the non-active tab
$tab-text-color: #3e3e3e;

/*********** GHOST HEADER TITLE **********/
// Also known as User View

// text color of the  'Acting As: Color'
$ghost-text-color: #c0c0c0;

// close Icon backgroun text color (the circle)
$ghost-icon-bg-color: white;

// close icon color "x"
$ghost-icon-color: #616161; // same as toolbar color

/*********** LIST CARD VARIABLES  ***********/

$card-box-shadow: 2px 3px 4px rgba(101, 101, 101, 0.5);

$card-background-color: white;

$card-border: 1px solid #d7d7d7;

$card-border-radius: 5px;

$card-title-color: $title-color;

$card-secondary-color: #3e3e3e;

$card-tertiary-color: #b4b4b4;

$card-content-color: #494949;

$card-color-hover: #a0a0a0;

/********* BREADCRUMBS STYLING ******/
$breadcrumb-non-active: #b4b4b4;

$breadcrumb-active: #6296e6;

$breadcrumb-hover: #3e3e3e;

/******* FORMS STYLING & FILTERS ******/

$checkbox-active: #757575;

// FORMS FOR SEARCH/FILTER
$form-ripple-color: rgba(75, 75, 75, 0.4);

$radio-button-active: #757575;

$form-field-focused: #757575;

$mat-label-color: #757575;

// FORMS FOR CREATE/EDIT
$form-icon-color: #757575;

$info-icon-color: #4b4b4b;

$form-active-text-color: #58b7bf;

$form-active-underline-color: #58b7bf;

$input-header-color: #636363;

$form-error-color: $danger;

/***** Filter Card ***/

$filter-reset-button-color: #757575;

$filter-card-border-color: 1px solid #e1e1e1;

$filter-search-button-border: 1px solid #d7d7d7;

$filter-box-shadow: 2px 3px 4px rgba(101, 101, 101, 0.5);

/****** Buttons Colors  **/
$primary-button-color: $primary;

$danger-color: $danger;

$plain-color: white;

/**** Empty List Color Styles ****/

$empty-list-icon-color: #b4b4b4;

$empty-list-main-title-color: #4b4b4b;

$create-text-color: $primary;
