
/******  MAIN COLOURS  ******/

// (A) background  color of the main content view
$main-content-color: #f5f5f5;

// (B) used for buttons, click to action
$primary: #0877c1;

// (C) used for warning before delete
$warning: #faac18;

// (D) used for errors
$danger: #f44336;

// (E) used for success bar when creating and editing
$success: #8ad245;

// (F) red titles
$title-color: #e7554b;


/************* TOOLBAR ****************/
/****** UI variables for top toolbar ******/

// (1) toolbar color background colour
$toolbar-color: #616161;

// (2) toolbar text/material icon color
$toolbar-text-color: white;

// (3) icon
$icon: url('./assets/company-icon.png');

// (4) toolbar "company size"
$text-size: 20px;

// (5) Company name color
$company-name-color:  white;


/*************** SIDE NAVIGATION VARIABLES *******************/

// (6) Maximum width size for side navigation
$side-nav-max: 190px;

// (7) Width size when side navigation is minimized
$side-nav-minimized: 64px;

// (8) Side nav background color
$sidenav-color: #323232;

// (9) Text menu color for all navigations
$menu-color: white;

// Company Name Color ** same color as 5
$sidenav-company-color: $company-name-color;

// (10) Active color for side navigation menu var
$sidenav-active-color: rgb(85, 85, 85);

// (11) Side navigation text color when active
$sidenav-text-active-color: white;


/********* BREADCRUMBS STYLING ******/

// (12) Non-active breadcrumbs text color
$breadcrumb-non-active: #b4b4b4;

// (13) Text color when mouse hovers
$breadcrumb-hover: #3e3e3e;

// (14) Active breadcrumbs text color
$breadcrumb-active: #6296e6;

// (15) breadcrumbs background color
$breadcrumb-background-color: white;


/*********** LIST CARD VARIABLES  ***********/

// (16) Card Shadow
$card-box-shadow: 2px 3px 4px rgba(101, 101, 101, 0.5);

// (17) Card background color
$card-background-color: white;

// (18) Card border style
$card-border: 1px solid #d7d7d7;

// (19) Card border radius
$card-border-radius: 5px;

// (20) Card title color
$card-title-color: $title-color;

// (21)  Secondary Text color
$card-secondary-color: #3e3e3e;

// (22) Tertiary Text Color
$card-tertiary-color: #b4b4b4;

// (23) other content text color
$card-content-color: #494949;

// (24) Card border color on cursor hover
$card-color-hover: #a0a0a0;


/********* ORGANIZATION DETAILS VARIABLES **********/

// (25) color of the active tab
$tab-active-color: $primary;

// (26) color of the non-active tab
$tab-text-color: #3e3e3e;

// (27) Tabs Background color
$tab-background-color: white;


/***** Filter Card ***/

// (28) filter/sort background color
$filter-background-color: white;

// (29) reset button color
$filter-reset-button-color: #757575;

// (30) filter/sort border color
$filter-card-border-color: 1px solid #e1e1e1;

// (31) search button border color
$filter-search-button-border: 1px solid #d7d7d7;

// (32) filter/sort box shadow
$filter-box-shadow: 2px 3px 4px rgba(101, 101, 101, 0.5);


/*********** GHOST HEADER TITLE **********/
// Also known as User View

// text color of the  'Acting As: Color'
$ghost-text-color: #c0c0c0;

// close Icon backgroun text color (the circle)
$ghost-icon-bg-color: white;

// close icon color "x"
$ghost-icon-color: #616161; // same as toolbar color



/******* FORMS STYLING & FILTERS ******/

$checkbox-active: #757575;

// FORMS FOR SEARCH/FILTER
$form-ripple-color: rgba(75, 75, 75, 0.4);

$radio-button-active: #757575;

$form-field-focused: #757575;

$mat-label-color: #757575;

// FORMS FOR CREATE/EDIT
$form-icon-color: #757575;

$info-icon-color: #4b4b4b;

$form-active-text-color: #58b7bf;

$form-active-underline-color: #58b7bf;

$input-header-color: #636363;

$form-error-color: $danger;


/****** Buttons Colors  **/
$primary-button-color: $primary;

$danger-color: $danger;

$plain-color: white;

/**** Empty List Color Styles ****/

$empty-list-icon-color: #b4b4b4;

$empty-list-main-title-color: #4b4b4b;

$create-text-color: $primary;


/************* NO RESULTS VARIABLES ***********/
// This is the UI when they users search something and there's no results
$no-result-icon-color: #b4b4b4;

$no-result-title-color: #323232;

$no-result-text-color: #636363;
