/* Tool bar top colour */
$toolbar-color: #616161;


/* Main content colour */
$main-content-color: #f5f5f5;

$primary: #0877C1;

$warning: #faac18;

$danger: #f44336;


/*************** SIDE NAVIGATION VARIABLES *******************/

// Maximum width size for side navigation
$side-nav-max: 190px;

// Width size when side navigation is minimized
$side-nav-minimized: 64px;

/* Side nav color */
$sidenav-color: #323232;

// Text menu color for all navigations
$menu-color: white;

$sidenav-active-color: rgb(85, 85, 85);


/********* ORGANIZATION DETAILS VARIABLES **********/
$tab-active-color: rgb(8, 101, 238);

$tab-text-color: #3E3E3E;


/******* GHOST HEADER TITLE ******/
$ghost-text-color: #c0c0c0;
$ghost-icon-bg-color:  white;
$ghost-icon-color:  #616161;// same as toolbar color


/*********** LIST CARD VARIABLES  ***********/

$card-box-shadow: 2px 3px 4px rgba(101, 101, 101, .5);

$card-background-color: white;

$card-border: 1px solid #D7D7D7;

$card-border-radius: 5px;

$card-title-color: #E7554B;

$card-secondary-color: #3e3e3e;

$card-tertiary-color: #b4b4b4;

$card-content-color: #494949;

$card-color-hover: #a0a0a0;

/********* BREADCRUMBS STYLING ******/
$breadcrumb-non-active: #b4b4b4;

$breadcrumb-active: #6296e6;

$breadcrumb-hover: #3e3e3e;

/******* FORMS STYLING & FILTERS ******/

$checkbox-active: #757575;

// FORMS FOR SEARCH/FILTER
$form-ripple-color: rgba(75,75,75, 0.4);

$radio-button-active: #757575;

$form-field-focused: #757575;

$mat-label-color: #757575;

// FORMS FOR CREATE/EDIT
$form-icon-color: #757575;

$info-icon-color: #4b4b4b;

$form-active-text-color: #58b7bf;

$form-active-underline-color: #58b7bf;

$input-header-color: #636363;

$form-error-color: #f44336;


/***** Filter Card ***/

$filter-reset-button-color:  #757575;

$filter-card-border-color: 1px solid #e1e1e1;

$filter-search-button-border: 1px solid #D7D7D7;

$filter-box-shadow: 2px 3px 4px rgba(101, 101, 101, .5);


/****** Buttons Colors  **/
$primary-button-color: #0877C1;

$danger-color: #f44336;

$plain-color: white;


/**** Empty List Color Styles ****/

$empty-list-icon-color: #b4b4b4;

$empty-list-main-title-color: #4b4b4b;

$create-text-color: #0877C1;
