/* Tool bar top colour */
$toolbar-color: #616161;


/* Main content colour */
$main-content-color: #f5f5f5;


/*************** SIDE NAVIGATION VARIABLES *******************/

// Maximum width size for side navigation
$side-nav-max: 190px;

// Width size when side navigation is minimized
$side-nav-minimized: 64px;

/* Side nav color */
$sidenav-color: #323232;

// Text menu color for all navigations
$menu-color: white;

$sidenav-active-color: rgb(85, 85, 85);


/*********** LIST CARD VARIABLES  ***********/

$card-box-shadow: 2px 3px 4px rgba(101, 101, 101, .5);

$card-background-color: white;

$card-border: 1px solid #D7D7D7;

$card-border-radius: 5px;
