/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "main-style-variables.scss";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Helvetica';
}



// Breadcrumbs styling

.breadcrumb {
  width: 100%;
  background-color: white;
  box-shadow: 0 1px 2px gray;
  height: 50px;
  position: fixed;
  z-index: 20
}

/******** LIST CARD STYLES *****/
.list {
  //
  .card {
    border: $card-border;
    box-shadow: $card-box-shadow;
    margin: 20px 20px;
    border-radius: $card-border-radius;
    background-color: $card-background-color;
    width: 100%;
    max-width: 1080px;
  }
}
