<div *ngIf="organization != null">
  <div class="breadcrumb-container">
    <div> <span routerLink="../"><i class="material-icons"> business </i> Organization List </span> &nbsp;&nbsp; <i class="material-icons arrow">
        keyboard_arrow_right </i> <i style="margin-left: -14px" class="material-icons arrow"> keyboard_arrow_right </i>&nbsp;&nbsp; <span
        class="active">{{organization.name}}
      </span> </div>
  </div>

  <div class="main-content-view">
    <div class="full-content-view">
      <div class="details">
        <div class="card">
          <div class="more-button">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon color="more-color">more_vert</mat-icon>
            </button>

            <mat-menu #menu="matMenu">
              <button mat-menu-item routerLink="./edit-organization">Edit</button>
              <button mat-menu-item (click)="openDialog()">Delete</button>
            </mat-menu>
          </div>
          <div class="container">
            <h2 class="title">{{organization.name}}</h2>
            <h4 class="secondary"><span *ngFor="let category of organization.categories">{{category}} &nbsp; </span> </h4>
            <p class="stats">
              <span class="left"><i class="material-icons">
                  assessment
                </i> {{organization.reportsCount}} Reports</span>
              <span class="middle"> <i class="material-icons">
                  person_outline
                </i>{{organization.usersCount}} Users</span>
              <span class="right"> <i class="material-icons">
                  dns
                </i> {{organization.datarulesCount}} Data Rules</span>
            </p>

          </div>

        </div>

        <div class="tabs">
          <mat-tab-group (selectedIndexChange)="selected($event)">
            <mat-tab label="Reports">
              <app-report-list [allowAdd]=true *ngIf="selectedTab === 0" [reports]="reports" (reportID)="goToReport($event)" style="display:flex; width: 100%; margin-bottom: 10px;"></app-report-list>
            </mat-tab>
            <mat-tab label="Users">
              <app-user-list *ngIf="selectedTab === 1" [users]="users" (userID)="goToUser($event)" style="display:flex; width: 100%; margin-bottom: 10px;"></app-user-list>
            </mat-tab>
            <mat-tab label="Data Rules">
              <div class="data-rules-section" *ngIf="selectedTab === 2">
                <div class="left-main-content-view">
                  <mat-accordion *ngFor="let rule of rules | datarulesList : searchName : selectedDataSource : sortValue : pagination.currentPage; let i = index">
                    <mat-expansion-panel class="data-rules-card">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <h4 class="title">{{rule.name}}</h4><br>
                        </mat-panel-title>
                        <mat-panel-description>
                          <h5>{{rule.datasource.name}}</h5>
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <hr>
                      <p>Created At: {{rule.date | date }}</p>
                      <p>Identifier: {{rule.identifier}}</p>
                      <p>Condition: {{rule.condition}}</p>
                      <p>Token: {{rule.token}}</p>
                      <div class="buttons">
                        <button mat-button color="danger" (click)="deleteRule(rule)">Delete</button>
                        <button mat-button color="primary" (click)="editRule(rule.id)">Edit</button>
                      </div>
                    </mat-expansion-panel>
                    <br>
                  </mat-accordion>
                  <p class="pagination" *ngIf="this.pagination" style="text-align: center"> <button mat-mini-fab (click)="previousPage()" color="white"
                    [disabled]="pagination.currentPage===1"> <i class="material-icons">
                      chevron_left
                    </i> </button>
                  {{this.pagination.currentPage}}/{{this.pagination.totalPages}} <button mat-mini-fab active (click)="nextPage() " [disabled]="pagination.currentPage === pagination.totalPages"
                    color="white"> <i class="material-icons">
                      chevron_right
                    </i> </button>
                </p>
                </div>
                <div class="right-main-content-view">
                  <!-- Filters -->
                  <div class="filter">
                    <form [formGroup]="filterForm" (ngSubmit)="onSearch()">
                      <button class="reset" mat-stroked-button (click)="searchFormReset()">RESET</button>
                      <p class="title"> Filter by</p>
                      <mat-form-field appearance="outline" class="search">
                        <mat-label class="label-color">Name</mat-label>
                        <input matInput type="text" placeholder="Search Name" formControlName="name">
                      </mat-form-field>
                      <p class="title"> Data Source</p>
                      <mat-form-field appearance="outline" class="select">
                        <mat-select formControlName="selectedDataSource">
                          <mat-option value="All">All</mat-option>
                          <mat-option *ngFor="let datasource of dataSources" value="{{datasource.id}}">{{datasource.name}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <br>
                      <button mat-raised-button class="search" type="submit">Search</button>
                    </form>
                  </div>
                  <div class="sort">
                    <p class="title"> Sort By</p>
                    <mat-radio-group class="example-radio-group" [(ngModel)]="sortValue">
                      <mat-radio-button *ngFor="let sort of sorts" value="{{sort}}" (click)="changeSort(sort)" class="radio">
                        {{sort}}
                      </mat-radio-button>
                    </mat-radio-group>
                  </div>
                  <div class="add-button">
                    <button routerLink="../new-data-rule" mat-fab class="button-fab" color="primary-button"> <i class="material-icons plus-icon">
                      add
                    </i>
                    <i class="material-icons back-icon">
                      dns
                    </i></button>
                  </div>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="organization == null">
  <mat-spinner></mat-spinner>
</div>
