<div *ngIf="organization != null">
  <div class="breadcrumb">
    <p> <span routerLink="../"> Organization List </span> >> {{organization.name}} </p>
  </div>

  <div style="padding-top: 50px">
    <h2>{{organization.name}}</h2>

    <app-user-list [filters]= "userListFilter" (userID)="goToUser($event)"></app-user-list>
    <app-report-list [filters] = "reportListFilter" (reportID)="goToReport($event)"></app-report-list>


  </div>
</div>

<div *ngIf="organization == null">
  <mat-spinner></mat-spinner>
</div>
